body {
  font-family: "Oswald";
  margin:0;
}

img {
  width: 250px;
  height: 250px;

}

header {
  width: 99vw;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

header img {
  width: 1000px;
}
 .giphyPlacement {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;

}

footer {
  background-color: #8d8d8d;
  height: 50px;
  width: 99vw;
  text-align: center;
  padding-top: 25px;
  overflow: hidden;
  

}
